{% extends "base.html" %}

{% load static %}



{% block title %}
  Home
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<section class="hero">

    <div class="hero-illus">
        <img src="{% static 'images/3d-illus1.png' %}" alt="" class="illustration man-img">
        <div class="link-img-cont">
            <img src="{% static 'images/3d-link.png' %}" alt="" class="illustration link-img">
            <div class="shadow"></div>
        </div>
    </div>

    <div class="hero-info">
        <h1><span>EASILY</span> organize your links in one space</h1>
        <button><span>Get Started</span></button>
    </div>
</section>

<section class="get-started">
    <h2>How To Start</h2>
    <div class="steps">
        <div class="step">
            <p class="number">1</p>
            <p>Create a free account with your email address and verify the account</p>
        </div>

        <div class="step">
            <p class="number">2</p>
            <p>Start adding links to you dashboard. Tags can be added to links for easy organization</p>
        </div>

        <div class="step">
            <p class="number">3</p>
            <p>Get a free links profile page to share</p>
        </div>
    </div>
    <button class="start"><span>Start Now</span></button>
</section>
{% endblock content %}