{% extends "base.html" %}

{% load static %}



{% block title %}
  Home
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login-register.css' %}">


{% if page == "login" %}

<section class="login-sign-up {% if page == 'sign-up' %}
  sign
{% endif %}">
    <form action="" method="POST">
        <h2>Welcome Back</h2>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password1" placeholder="Password">
        <button type="submit">Login</button>
        <p>Are you a new user? <a href="{% url 'sign-up' %}">Sign up</a></p>
    </form>

</section>


{% else %}

<section class="login-sign-up sign">
    <form action="" method="POST">
        <h2>Sign Up</h2>
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="password2" placeholder=" Confirm Password">
        <button type="submit">Sign up</button>
        <p>Are you an existing user? <a href="{% url 'login' %}">Login</a></p>
    </form>
</section>

{% endif %}

{% endblock content %}